# !Ender-7 klipper compile settings, these are only for the v1 board!
# printer_size: 250x250x300
# version: 3.4
# This file contains pin mappings for the stock 2021 Creality Ender 7.
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

#[include adxl345.cfg]              ; uncomment this to use the FLY-ADXL345 for input shaping, you'll need to edit the MCU line in the adxl345.cfg
[include mainsail.cfg]              ; 
[include macros.cfg]                ; load macros.cfg

[virtual_sdcard]                    ; this is where print files are stored in the pi os
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]                               ; run "ls /dev/serial/by-id/*" for the pi terminal (SSH) to find the unique serial port for your printer
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[display_status]

[pause_resume]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: ^PA5
position_endstop: 0
position_min: 0
position_max: 248
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: ^PA6
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 80

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
#position_endstop: 0.0                      # disable to use BLTouch
#endstop_pin: ^PA7                          # disable to use BLTouch
endstop_pin: probe: z_virtual_endstop       # enable to use BLTouch                        
position_max: 300
position_min: -4

[extruder]
pressure_advance : 0.35 ; was 0.54
max_extrude_only_distance: 1000.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 24.615384615384617
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
tuned for stock hardware with 200 degree Celsius target
pid_kp: 19.028
pid_ki: 0.919
pid_kd: 98.472
min_temp: 0
max_temp: 265

[bltouch] # enable for BLTouch
sensor_pin: ^PB1
control_pin: PB0
x_offset: 36                                # X offset probe
y_offset: 32                                # Y offset of probe
z_offset = 2.090                            # This should be set accourding to your bltouch offset
speed: 30
samples: 3
samples_result:average
probe_with_touch_mode: True
sample_retract_dist: 3.0                    # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3

[safe_z_home]                               # enable for BLTouch
home_xy_position: 96,100                    # center is 132x132 - x,y probe offset values!
speed: 50.0
z_hop: 10.0
z_hop_speed: 5.0

[bed_mesh]                                  # enable for BLTouch
speed: 120
horizontal_move_z: 5
mesh_min: 36,32
mesh_max: 212,218
probe_count: 6, 6
mesh_pps: 2,3
fade_start: 1
fade_end: 0
fade_target: 0

[heater_bed]
heater_pin: PA15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_kp: 74.146
pid_ki: 1.521
pid_kd: 903.658
min_temp: 0
max_temp: 130

# Im using a custom mount, you will need to adjust the below accordingly (x y postion for bed screw to nozzle)
[bed_screws]
screw1: 34, 36
screw2: 222, 36
screw3: 222, 226
screw4: 34, 226

[fan]
pin: PA0

[fan_generic extruder_partfan]
pin: PC6

[exclude_object]

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PA4

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000
max_z_velocity: 10
max_z_accel: 1000
square_corner_velocity: 5.0

[gcode_arcs]
#resolution: 1.0
